<!DOCTYPE html>
<html>

<head>
	<title>AkiraChix</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
</head>

<body>
	<img src="{{course.profile_picture.url}}">
	<p><div class="first">Name:</div>{{course.name}}</p>
	<p><div class="reg">Registration Number:</div>{{course.course_number}}</p>
	<p><div class="desc">Description:</div>{{course.description}}</p>

	<td><a href="/course/edit/{{course.pk}}/">Edit Details</a></td>

</body>
</html>