/*body {
	background-image: url(..img/blur3.jpg);
}*/
h3 {
	color: yellow; 
	text-align: center; 
	margin: 20px;
}
/*form {
	color: black; 
	text-align: center; 
	background-color: rgba(0,0,0,0.4); 
	padding: 30px; 
	margin: 5px; 
	border-radius: 10px;
	box-shadow: 0 3px 46px rgba(0,0,0,0.2);
	width: 400px;
	margin: 0 auto;
}*/