<!DOCTYPE html>
<html>

<head>
	<title>AkiraChix</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
</head>

<body>
	<div class="container">
	<table class="table table-striped">

		<tr>
			<button><a href="/teacher/add/">Add Teacher</a></button>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Registration Number</th>
			<th>Profession</th>
			<th>Email</th>
			<th>More details</th>
			<th>Edit Details</th>
		</tr>

		<!-- for loop -->
		{% for teacher in teachers %}

		<!-- templating syntax for browser to understand ... django templating language (imported the data/output all records to the user-->
		<tr>
			<td>{{teacher.first_name}}</td>
			<td>{{teacher.last_name}}</td>
			<td>{{teacher.registration_no}}</td>
			<td>{{teacher.profession}}</td>
			<td>{{teacher.email}}</td>

			<td><a href="/teacher/detail/{{teacher.pk}}/">More Details</a></td>
			<td><a href="/teacher/edit/{{teacher.pk}}/">Edit Details</a></td>
		</tr>

		{% endfor %}

	</table>
	</div>

</body>
</html>